html, body {
  padding:0;
  margin:0;
}

.hero_container {
  height:100vh;
  background: linear-gradient(288deg, #FFB6B9 0%, #FFB6B9 35%, #FAE3D9 calc(35% + 1px), #FAE3D9 45%, #BBDED6 calc(45% + 1px), #BBDED6 65%, #61C0BF calc(65% + 1px), #61C0BF 100%);
}

.hero_body {
  display:flex;
  align-items:center;
  height:90vh;
  color:hotpink;
  font-size:30px;
  font-family:"Georgia";
  justify-content:center;
}

.hero_title {
  display:block;
}

.hero_subtitle {
  display:block;
}

.main_content {
  width:80%;
  margin:auto;
}

.subtitle {
  font-family:"Georgia";
  font-size:40px;
  color:teal;
}

.drawing {
  max-height:85vh;
}

.screenshot {
  max-height:50vh;
max-width:75vw;
}

.card {
  border:3px solid silver;
  padding:10px;
  margin-bottom:15px;
}
