.earth_image {
  width:32%;
}
.dogs_image {
  width:40%;
}
.malamute_image {
  width:40%;
}
.teacuppoodle_image {
  width:40%;
}
.australianshepard_image {
  width:40%;
}
.rescuedmutt_image {
  width: 40%;
}

.link {
  color:purple;
}
.link:hover {
  color:purple;
  background:pink;
}

.link:active, .link:focus {
  color:blue;
}
